{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "tabs": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "parser": "babylon",
  "rcVerbose": true
}
